body {
    background-color: #f8f7f1;}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
nav a {
    text-decoration: none;
    color: black;
}
.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-family: poppins, sans-serif;
}
.nav-items div a {
    font-size: 13px;
}
.logo div a {
    font-size: 25px;
}
.nav-bonus div p{
    font-family: poppins, Helvetica, sans-serif;
    font-size: 15px;
}
.nav-bonus {
    display: flex;
}
.nav-bonus img {
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.nav-bonus img:hover {
    transform: scale(1.1);
}
.main-text-1 {
    color: #0e2e3d;
    font-size: 50px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    width: 23%;
    float: left;
    margin-left: 90px;
    margin-top: 20px;

}
.main-text-2 {
    font-family: 'poppins', sans-serif;
    width: 20%;
    float:right;
    margin-right: 50px;
    margin-top: 100px;
}
.main-image {
    transform: scale(55%);
    position: relative;
    left: 170px;
    bottom: 480px;

}
.main-text-3 {
    font-family: 'poppins', sans-serif;
    color: red;
    text-decoration: underline orangered;
    position: relative;
    right: 270px;
    top: 270px;
}
.main-text-4 {
    font-family: 'poppins', sans-serif;
    display: flex;
    position: relative;
    right: 270px;
    top: 400px;
    color: #0e2e3d;
}
#text-1 {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 60px;
}
#text-2 {
    font-family: 'poppins', sans-serif;
    width: 20%;
    margin-left:10px;
    margin-top: 18px;
}
.main-text-5 {
    font-family: 'poppins', sans-serif;
}
.image-2 {
    position: relative;
    left: 550px;
    top: 150px;
    transform: scale(70%);
}
.image-text-1 {
    font-family: 'poppins', sans-serif;
    float: right;
    position: relative;
    top: 110px;
    right: 92px;
    width: 11%;
    text-align: center;
}
.main-text {
    height: 94vw;
}

.hover-text::before,
.hover-text::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 15px;
    height: 20px;
    border: 2px solid #2b7a78;
    border-radius: 25%;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.hover-text::before {
    left: -25px;
    border-right: none;
}

.hover-text::after {
    right: -25px;
    border-left: none;
}

.hover-text:hover::before,
.hover-text:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
}
.hover-text {
    position: relative;
    transition: color 0.3s ease;
}
.left-box {
    display: flex;
    border: 1px solid #cecece;
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}
.left-box:hover {
    box-shadow: 2px 1px 50px #d1d1d1;
}
.left-box img {
    position: relative;
    transform: scale(70%);
}
.box-title {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    color: #0e2e3d;
    font-weight: bold;
    margin-top: 30px;
}
.box-text {
    font-family: 'poppins', sans-serif;
    font-size: 13px;
}
.second-section-title {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    color: #0e2e3d;
    font-weight: bold;
    position: relative;
    top: 20px;

}
.second-section-text {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: 2.2;
}
.second-section-years {
    font-family: 'poppins', sans-serif;
    display: flex;
    margin-top: 25px;
    gap: 100px;

}
.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 600px;
    gap: 70px;
    background-color: #ffffff;
    height: 50vw;
}
.year {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #0e2e3d;
}
.right-box {
    position: relative;
    bottom: 30px;
}
.third-section-title {
    font-family: Roboto, poppins, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #0e2e3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-section-mid img {
    transform: scale(64%);
    position: relative;
    left: 180px;
    bottom: 140px;
}
.third-section-right {
    position: relative;
    left: 80px;
    bottom: 40px;
}
.right-title {
    color: #0e2e3d;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}
.right-text {
    font-family: 'poppins', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    color: #2f2f2f;
}
.left-text {
    font-family: 'poppins', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    color: #4b4b4b;
}
.left-title {
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0e2e3d;
    margin-top: 90px;
}
.third-section-left {
    position: relative;
    left: 120px;
    bottom: 105px;
}
.third-section-all {
    display: flex;
}
.third-section {
    position: relative;
    bottom: 600px;
}
.fourth-section {
    font-family: 'poppins', sans-serif;
    background-color: white;
    height: 50vw;
    position: relative;
    bottom: 800px;
}
.fourth-section-text-div {
    display: flex;

}
.fourth-section-title {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #0e2e3d;
    margin-top: 50px;
}
.fourth-section-text-1 {
    font-size: 14px;
}
.fourth-section-text-2 {
    margin-left: 500px;
    margin-top: 85px;
    color: #ff4d00;
    text-decoration: underline;
}
.fourth-section-left-text {
    margin-left: 65px;
}
.fourth-section-colum {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
    margin-left: 60px;
    transform: scale(90%);
}
.sc-4-img:hover {
    transform: scale(1.05);
}
.fifth-section-title {
    font-family: 'poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #0e2e3d;
    text-align: center;
}
.fifth-section-text {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.fifth-section-article {
    background-color: white;
    padding: 30px;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    height: 180px;
}
.fifth-section-article-1 {
    background-color: white;
    padding: 30px;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    height: 180px;
    position: relative;
    bottom: 90px;
}
.article-text {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}
.article-title {
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0e2e3d;
    text-align: center;
    margin-top: 10px;
}
.article-text-1 {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
}
.fifth-section-article img {
    position: relative;
    bottom: 70px;
    display: block;
    margin: auto;
}
.mid-img {
    position: relative;
    bottom: 70px;
}
.article-obsah {
    position: relative;
    bottom: 50px;
}
.articles {
    display: flex;
    position: relative;
    right: 230px;
    gap: 50px;
    transition: transform 0.3s ease;
    width: 140%;
    margin-top: 150px;
}
.fifth-section {
    position: relative;
    bottom: 700px;
    overflow: hidden;
}
.button-left {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
}
.button-right {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
}
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    bottom: 50px;
}
.sixth-section {
    background-color: white;
    position: relative;
    bottom: 650px;
    height: 100vh;

}
.sixth-section-title {
    font-family: 'poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #0e2e3d;
}
.sixth-section-text {
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    margin-top: 80px;
    font-weight: bold;
    color: #0e2e3d;
}
.span-text {
    color: #ff4d00;
    text-decoration: underline;
}
.sixth-section-left {
    margin-left: 70px;
    position: relative;
    top: 70px;
}
.sixth-section-right {
    float: right;
    font-family: 'poppins', sans-serif;
    margin-right: 150px;
    position: relative;
    bottom: 150px;
}
.sixth-section-title-1 {
    font-weight: bold;
    font-size: 25px;

}
.sixth-section-nav {
    margin-top: 20px;

}
.nav-items-bonus {
    margin-top: 40px;
}
.line {
    width: 85%;
    height: 1px;
    background-color: #0e2e3d;
    display: flex;
    margin: auto;
    position: relative;
    bottom: 100px;
}